.form {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(24, 24, 28);
    border-radius: 25px;
    transition: 0.1s;
    padding: 7px 15px;
    box-shadow: 0 0 1px rgb(69, 69, 69);
}

.form:hover {
    box-shadow: 0 0 2px grey;
}

.input {
    flex: 1;
    border: none;
    background-color: inherit;
    border-radius: 25px;
    padding: 5px;
    font-weight: 500;
    color: whitesmoke;
}

.input:focus {
    outline: none;
}

.submit {
    font-size: 28px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    transition: 0.1s;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: whitesmoke;
}

.submit:hover {
    color: grey;
    scale: 1.1;
}

.spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
