.container {
    display: flex;
    flex-direction: column;
}

.repo {
    position: relative;
    display: flex;
    width: 50%;
}

.repo-date {
    color: rgb(255, 111, 111);
}

.repo-content {
    padding: 15px 0;
    text-decoration: none;
    color: inherit;
    visibility: hidden;
}

.repo.visible > .repo-content {
    visibility: visible;
}

.repo-name {
    margin: 10px 0;
}

.repo-content:hover .repo-name {
    text-decoration: underline;
}

.repo-language {
    font-size: 0.8em;
    color: rgb(95, 95, 95);
}

.repo-flag {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(255, 111, 111);
    top: 14px;
    transition: 0.1s;
    opacity: 0;
}

.repo.visible > .repo-flag {
    animation: fade-in 0.5s ease-in-out 1 forwards;
}

.repo-flag:hover {
    background-color: rgb(255, 155, 155);
}

/* styling for left-sided repos */

.repo:nth-child(odd) {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 2px;
}

.repo:nth-child(odd) > .repo-flag {
    transform: translateX(11.5px);
}

.repo:nth-child(odd) > .repo-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: 2px solid rgb(95, 95, 95);
    padding-right: 30px;
}

.repo:nth-child(odd).visible > .repo-content {
    animation: left-slide-in 0.5s ease-in-out 1;
}

@keyframes left-slide-in {
    0% {
        opacity: 0;
        transform: translateX(-50vh);
    }
    100% {
        transform: translateY(0);
    }
}

/* styling for right-sided repos */

.repo:nth-child(even) {
    align-self: flex-end;
}

.repo:nth-child(even) > .repo-flag {
    transform: translateX(-11.5px);
}

.repo:nth-child(even) > .repo-content {
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgb(95, 95, 95);
    padding-left: 30px;
}

.repo:nth-child(even).visible > .repo-content {
    animation: right-slide-in 0.5s ease-in-out 1;
}

@keyframes right-slide-in {
    0% {
        opacity: 0;
        transform: translateX(50vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
